@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Press+Start+2P&display=swap');

body {
  background-color: white;
  background-image: url(https://incompetech.com/graphpaper/plain/1cm%20Super%20Fine%20Grid.png);
  background-position: right;
  color: #fa7d00;
  font-stretch: extra-condensed;
  font-family: "Press Start 2P", cursive;
  font-weight: lighter;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 100px;
}

h1 {
  font-size: 150px;
  text-transform: lowercase;
  color: black;
  text-shadow: 20px 20px 20px #EFFF29;
  letter-spacing: 3px;
  font-family: "Press Start 2P", cursive;
  writing-mode: horizontal-tb;
}


.container {
  text-align: center;
  margin-left: 1px;
  margin-top: 4px;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
}

.right-image{
  margin-bottom: 10px;
  text-align: center;
  margin-top: 4px;

}

.left-image{
  margin-right: 100px;
  text-align: center;
  margin-top: 4px;
}
